<div class="flex">
  <!--<form (ngSubmit)="addContactTemplateDriven(myForm)" #myForm="ngForm">
    <div>
      <label for="inputFirstName">First name:</label>
      <input type="text" [(ngModel)]="newContact.firstName" name="firstName" id="inputFirstName" class="form-control">
    </div>

    <div>
      <label for="inputSurname">Surname:</label>
      <input type="text" [(ngModel)]="newContact.surname" name="surname" id="inputSurname" class="form-control">
    </div>

    <div>
      <label for="inputEmail">E-mail address:</label>
      <input type="text" [(ngModel)]="newContact.email" name="email" id="inputEmail" class="form-control" required
             #myemail="ngModel"><span *ngIf="myemail.invalid">Vul in...</span>
    </div>

    <button [disabled]="myForm.invalid" id="submitButton" class="btn btn-primary">Add</button>

    &lt;!&ndash;
      <tag [dataattribute]="waarde" (event)="waarde2"> {{content...}} </tag>
    &ndash;&gt;
  </form>-->

  <form (ngSubmit)="addContactModelDriven()" [formGroup]="contactForm">
    <div>
      <label for="inputFirstNameR">First name:</label>
      <input type="text" formControlName="firstName" name="firstName" id="inputFirstNameR" class="form-control">
    </div>

    <div>
      <label for="inputSurnameR">Surname:</label>
      <input type="text" formControlName="surname" name="surname" id="inputSurnameR" class="form-control">
    </div>

    <div>
      <label for="inputEmailR">E-mail address:</label>
      <input type="text" formControlName="email" name="email" id="inputEmailR" class="form-control" required>
    </div>

    <button class="btn btn-primary">Add</button>

    <!--
      <tag [dataattribute]="waarde" (event)="waarde2"> {{content...}} </tag>
    -->

  </form>
</div>

<form [formGroup]="checkBoxForm">
  <table class="table" formArrayName="contactsFormArray">
    <tr>
      <th></th>
      <th>Name</th>
      <th>E-mail address</th>
      <th></th>
    </tr>

    <!--  <tr *ngFor="let c of contacts" app-contact-row [contact]="c"></tr>-->

    <tr *ngFor="let c of contacts; let i = index" [formGroupName]="i">
      <td><input type="checkbox" formControlName="del" class="delBox"></td>
      <td>{{c.firstName}} {{c.surname}}</td>
      <td>{{c.email}}</td>
      <td>
        <button class="btn">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
  <button>Delete selected</button>
</form>

<!--<app-loading [message]="loadingMessage"-->
<!--             (iAmClicked)="handleLoadingIsClicked($event)">-->
<!--</app-loading>-->

<!--<pre>{{newContact | json}}</pre>-->
<!--<pre>{{checkBoxForm.value | json}}</pre>-->

