<div class="col-md-12" (click)="toggleForm()">Add new contact <i class="far fa-{{plusMinus}}-square"></i></div>

<ng-container *ngIf="plusMinus==='minus'">
  <form (ngSubmit)="addContactModelDriven()" [formGroup]="contactForm">
    <div class="d-flex">
      <div class="p-1">
        <input type="text" formControlName="firstName" name="firstName" id="inputFirstNameR" class="form-control"
               placeholder="First name">
      </div>
      <div class="p-1">
        <input type="text" formControlName="surname" name="surname" id="inputSurnameR" class="form-control"
               placeholder="Surname">
      </div>
      <div class="p-1 flex-grow-1">
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" formControlName="email" name="email" id="inputEmailR" class="form-control"
                 placeholder="Email">
        </div>
      </div>
      <div class="p-1 d-flex ms-auto align-content-center flex-wrap">
        <input type="submit" id="submit" class="btn btn-primary" value="Save">
      </div>
    </div>

    <div class="d-flex">
      <div class="p-1">
        <label for="gender">Gender</label>
        <select formControlName="gender" name="gender" id="gender" class="form-select">
          <option *ngFor="let g of genders" [ngValue]="g">{{g.name}}</option>
        </select>
      </div>
      <div class="p-1">
        <label>Languages</label>
        <div class="row" formArrayName="languages">
          <div class="col-auto">
            <div class="form-check" formGroupName="0">
              <input class="form-check-input" type="checkbox" id="java" formControlName="sel">
              <label class="form-check-label" for="java">Java</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check" formGroupName="1">
              <input class="form-check-input" type="checkbox" id="kotlin" formControlName="sel">
              <label class="form-check-label" for="kotlin">Kotlin</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check" formGroupName="2">
              <input class="form-check-input" type="checkbox" id="typescript" formControlName="sel">
              <label class="form-check-label" for="typescript">Typescript</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check" formGroupName="3">
              <input class="form-check-input" type="checkbox" id="php" formControlName="sel">
              <label class="form-check-label" for="php">PHP</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>


<!--<pre>{{contactForm.value | json}}</pre>-->
