<h1>{{title}}</h1>
<h2>{{toggle}}</h2>

<button (click)="handleClick()">CLICK ME!</button>

<p *ngIf="toggle==false">Hidden title</p>
<p [style]="myStyle()">Title2</p>

<ul>
  <li *ngFor="let car of cars" [class.expensive]="car.price > 15000">{{car.make}} {{car.type}} </li>
</ul>

<div *ngIf="toggle">Hi there!</div>

<!--<form>-->
min: <input type="text" [(ngModel)]="min">
max: <input type="text" [(ngModel)]="max">
<button (click)="handleEenBeetjeTekst()">Voer filter uit</button>
<!--</form>-->

<p> {{eenBeetjeTekst123}}</p>

<app-hello-world></app-hello-world>

<pre>{{cars | json }}</pre>
{{car.price | number }}
