<form class="row g-3" (ngSubmit)="search()" [formGroup]="searchForm">
  <div class="col-12">
    <input type="text" formControlName="search" name="search" id="search" class="form-control"
           placeholder="Search on name or email">
  </div>
</form>

<hr class="my-4">

<form [formGroup]="checkBoxForm">
  <table class="table" formArrayName="contactsFormArray">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Action</th>
    </tr>

    <!--  <tr *ngFor="let c of contacts" app-contact-row [contact]="c"></tr>-->

    <tr *ngFor="let c of contacts; let i = index" [formGroupName]="i">
      <td><input type="checkbox" formControlName="del" class="delBox"></td>
      <td>{{c.firstName}} {{c.surname}}</td>
      <td>{{c.email}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary btn-sm" routerLink="/contacts/{{c.id}}">More</button>
          <button type="button" class="btn btn-secondary btn-sm" routerLink="/contactdetails/{{c.id}}">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="delete(c)">Delete</button>
        </div>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-warning btn-sm">Delete selected</button>
</form>
