<h2>The contacts</h2>

<form (ngSubmit)="search()" [formGroup]="searchForm">
  <input type="text" formControlName="search" name="search" id="search" class="form-control"
         placeholder="Type hier om te zoeken...">
</form>

<form [formGroup]="checkBoxForm">
  <table class="table" formArrayName="contactsFormArray">
    <tr>
      <th></th>
      <th>Name</th>
      <th>E-mail address</th>
      <th></th>
    </tr>

    <!--  <tr *ngFor="let c of contacts" app-contact-row [contact]="c"></tr>-->

    <tr *ngFor="let c of contacts; let i = index" [formGroupName]="i">
      <td><input type="checkbox" formControlName="del" class="delBox"></td>
      <td>{{c.firstName}} {{c.surname}}</td>
      <td>{{c.email}}</td>
      <td>
        <button class="btn" routerLink="/contacts/{{c.id}}">Edit</button>
        <button class="btn btn-danger" (click)="delete(c)">Delete</button>
      </td>
    </tr>
  </table>
  <button>Delete selected</button>
</form>
