<form (ngSubmit)="search()" [formGroup]="searchForm">
  <div class="d-flex p-1">
    <input type="text" formControlName="search" name="search" id="search" class="form-control"
           placeholder="Search on name or email">
  </div>
</form>



<form class="row" [formGroup]="checkBoxForm">

  <div class="col-md-12">
    <table class="table" formArrayName="contactsFormArray">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
      </tr>

      <!--  <tr *ngFor="let c of contacts" app-contact-row [contact]="c"></tr>-->

      <tr *ngFor="let c of contacts; let i = index" [formGroupName]="i">
        <td><input type="checkbox" formControlName="del" class="delBox"></td>
        <td>{{c.firstName}} {{c.surname}}</td>
        <td>{{c.email}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-sm" routerLink="/contacts/{{c.id}}">More</button>
            <button type="button" class="btn btn-secondary btn-sm" routerLink="/contactdetails/{{c.id}}">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(c)">Delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-12">
    <button type="button" class="btn btn-warning btn-sm">Delete selected</button>
  </div>
</form>
